@charset "UTF-8";
@import url('https://fonts.googleapis.com/css2?family=Mukta&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rampart+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merienda&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik+Distressed&display=swap');


:root{
  --color1:#899cc5;
  --color2:#ffffff;
  --color3:#363636;
  --color4:#b4b4b4;
  --fontbody:'Mukta', sans-serif;
  --fonttema:'Merriweather', serif;
  --fontcoment: 'Merienda', cursive;
  --fontbody2:'Lobster', cursive;
  --fonttema2:'Rampart One', cursive;
  --fonttema3:'Rubik Distressed', sans-serif;
  
}

html{
  scroll-behavior: smooth;
}
*{
  margin: 0px;
}
html, body{
  overflow-x: hidden;
}
body{
  font-family: var(--fontbody);
  position: relative;
 
 
}
header{
  width: 98%;
  display:flex;
  justify-content: space-between;
  position: absolute;
  z-index:2;
}
header section{
  display: flex;
  padding-right: 100px;
  padding-bottom: 62px;
  background-image: url(img/curva.png) ;
  background-size: 100% 100%;
  
}
header img{
  width: 80px;
  margin: 0 30px 0 20px;
}
header p{
  font-family: var(--fonttema3);
  text-align: center;
  line-height: center;
  margin-top:20px;
}
nav a {
  text-decoration: none;
  color: var(--color2);
  font-weight: bolder;
  padding: 3px;
  border: solid transparent 1px ;
  border-radius: 9px;
  
  
  
}
header button{
  display: none;
}

nav a:hover{
  background-color: var(--color3);
  color: white;
  box-shadow: #36363680 1px 1px 1px 1px;
}
nav a:active{
  background-color: var(--color1);
  color: rgb(255, 255, 255);
  box-shadow: inset black  1px 1px 1px 1px;
}
nav{
  display: flex;
  align-items: center;
  padding-right: 0px;
  margin-top: 10px;
  align-self: flex-start;
  
}

main{
  height: 100vh;
  color: white;
  background-image: url(img/main.jpg);
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  position: relative;
  box-shadow: inset #000000a9 -2px -11px 20px 10px;
 
}
#textmain{
  padding-top: 150px;
  width: 80vw;
  margin-left:60px;
  text-shadow: black 3px 3px 3px;
  color:rgb(255, 255, 255);
  font: oblique normal 2.5em var(--fonttema3);
  line-height: 1.5em;
}

main h1{
  font-weight: normal;
}
.divisor {
  position: absolute;
  bottom: -16.5px;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  z-index: 0;
}

.divisor svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 80px;
}

.divisor .shape-fill {
  fill: #B3B3B3;
 
}
#benconteiner{
  position: absolute;
  bottom:-10%;
  width: 95vw;
  display: flex;
  justify-content: flex-end;
  z-index: 1;
  
}
.ben{
 display: grid;
  width: 200px;
  padding: 10px;
  border-radius: 8px;
  background-color: #424242;
  margin: 15px;
  box-shadow: rgba(0, 0, 0, 0.445)  3px 3px 3px 3px;
  color: white;
  transition:transform 2s;
 
}
#cben{
  display: flex;
}
.ben img{
  justify-self: center;
}
.ben:active{
  background-color: #256aff;
}
.ben:hover{
  background-color: #afc8ff;
  color:black;
  transform: translateY(-15px);
  
}
.ben:hover h1{
  color: white;
}
.ben p{
  font-size: medium;
  font-family: var(--fontbody);
  text-align: center;
}
.ben h1{
  text-align: center;
  font-size: medium;
  font-family: var(--fonttema2);
  margin-bottom: 9px;
}
@keyframes bnt {
  from{transform: translateY(0%);}
  to{transform: translateY(50%);}
  
}
#contacto{
animation-name: bnt;
animation-duration: 3s;
animation-direction: alternate;
animation-iteration-count:infinite ;
padding: 15px 30px;
font-weight: bolder;
background-color: #000000;
color: #FFFFFF;
font-size: large;
border-radius: 12px;
box-shadow: rgba(0, 0, 0, 0.445)  3px 3px 3px 3px; 
margin-left: 30px;
}

#contacto:active{
  background-color: #707891;
}
#contacto a{
  text-decoration: none;
  color: aliceblue;
}

#serviço{
  height: 320vh;
  display: grid;
  align-content: flex-start;
  padding-top: 60px;
  color: white;
  background-image: linear-gradient(to bottom,rgb(184, 184, 184),rgb(31, 30, 30)30%);
}
#serviço aside{
  display: flex;
  height: 100vh;
  align-items: center;
}

#serviço h1{
  margin-top: 50px;
  margin-bottom: 50px;
  font-family: var(--fonttema) ;
  font-size: xxx-large;
  font-weight: bolder;
  text-align: center;
  text-shadow: rgb(0, 0, 0) 1px 1px 1px;
  
}
#serviço h2{
  display: inline-block;
  background-color:#53599A;
  border-radius: 20px;
  padding: 0 25px;
  transform: rotate(-10deg);

}
#serviço p{
  margin-top: 40px;
  padding: 5px;
  display:inline-block;
  border-radius: 10px;
  background-color:#5C6B73 ;
  transition: width 2s;
  visibility: hidden;
  width: 0px;
  text-align: center;
}
#serviço div{
  display: grid;
  font-size: xx-large;
  font-family: var(--fontbody2);
  text-align: end;
  margin-right: 20px;
  margin-left: 40px;
 
}
#serviço aside:hover p{
  width: 300px;
  visibility: visible;
}

.imgs{
  width: 60vw;
  height: 90vh;
  -webkit-mask-repeat: no-repeat;
  mask-repeat: no-repeat;
  -webkit-mask-size: 100% 100%;
  background-repeat: no-repeat;
  background-size: cover;
}
#as1 .imgs{
  -webkit-mask-image: url(img/tinta.png);
  mask-image: url(img/tinta.png);
  background-image: url(img/main9.jpg);
}
#as2 .imgs{ 
  -webkit-mask-image: url(img/tinta2.png);
  mask-image: url(img/tinta2.png);
  background-image: url(img/server3.png);
  }
#as3 .imgs{
  -webkit-mask-image: url(img/tinta3.png);
  mask-image: url(img/tinta3.png);
  background-image: url(img/main5.jpg);
  background-position: center center;
}
#serviço img{
  border-radius: 20px;
  height: 90vh;
  width: 60vw;
}
#works{
  display: grid;
  grid-template-columns: 50vw 50vw;
  background-image: linear-gradient(to top,white 50%,rgb(31, 30, 30) 100%);
  color: #FFFFFF;
  height: auto;
}
#works h1{
  grid-column: 1/3;
  font-family: var(--fonttema);
  text-align: center;
  font-size: 3.2em;
  font-weight: bolder;
  padding-bottom: 30px;
}
#as{
  font-size: 1.7em;
  font-weight: bold;
  text-align: center;
  display: grid;
  justify-content: center;
  align-content: center;
  grid-template-columns: 300px 300px;
  grid-template-rows: 220px 220px;
  gap: 15px;


}

#works .number{
  background-color: var(--color1);
  padding: 50px;
  border-radius: 5px;
  box-shadow: rgba(255, 255, 255, 0.603) 3px 3px 3px 3px;
}
#slide{
  position: relative;
  display: flex;
  background-image: url(img/construções/c12.jpg);
  background-size: cover;
  height: 100vh;
}
details{
  position: absolute;
  background-color: #000000a2;
  bottom: 0;
  right: 0;
  padding: 5px;
  border-radius: 4px;
  padding-right: 20px;
  color: #04c4ff;
  font-weight: bold;
  text-shadow: rgba(0, 0, 0, 0.623) 1px 1px 1px;
}
details p{
  color: white;
}
#contclient{
  position: relative;
  grid-column: 1/3;
  background-color: #435058;
  color: black;
  height: 70vh;
  color:white;
  width: 100vw;
 
}
.num{
  font-size: 1.7em;
  color: greenyellow;
}
#cont{
  display: flex;
  height: 100%;
  width: 100%;
  justify-content: center;
  align-items: flex-end;
}
.btnsd{
  opacity: 50%;
  border-radius: 50%;
  width: 20px;
  height:20px;
  background-color: #00ffea;
}
.btnsd:active{
  opacity: 100%;
}

#btnf{
  opacity: 100%;

}
#contclient h1{
  font-size: 2.5em;
  font-family: var(--fonttema);
}
.cliente .coment{
  font-family: var(--fontcoment);
  font-size: 1em;
  text-indent: 0.5em;
  font-weight: bold;
  text-align: center;
  line-height: 2.8em;
  background-color: white;
  border-radius: 3px;
  border: solid black 1px;
  width: 400px;
  justify-self: center;
  padding: 14px;
  box-shadow:#00000060 3px 3px 3px 3px;
  color: black;
}
#clientes{
  display: flex;
  position: absolute;
  justify-content: start;
  width:100vw;
  top:30%;
  overflow-x:auto;
  
}


.cliente{
  position: relative;
  display: grid;
  justify-content: center;
  padding: 0px 200px;
}
.cliente .foto img{
  background: blue;
  border-radius:50%;
  width: 90px;
  height: 90px;
}
.cliente .nome{
  padding-top: 9px;
  margin-left: 12px;
  font-size: normal;
  font-weight: bold;
}
.cliente aside{
  display: flex;
  justify-content:flex-start;
}
.cliente small{
  font-weight: normal;
}

footer a{
  color: black;
}
#whoare{
  height: 100vh;
  background-image: url(img/somos1.jpg);
  background-size:cover;
  background-repeat: no-repeat;
  background-position:center right;
  color: rgb(255, 255, 255);
  font-size: 2em;
  
 
}
#whoare h1{
  display: inline-block;
  font-family: var(--fonttema2);
  text-align:center;
  font-variant: small-caps;
  border-left: 8px double #77B6EA;
  color: white;

}
#whoare aside{
  width: 80vw;
  border-radius: 6px;
  background-color: #00000077;
 
}
#whoare div{
  text-align: center;
  background-color: #00000093;
}
#aviso{
  color: rgb(0, 0, 0);
  font-weight: bold;
  background-color: #ffffff;
}
#whoare aside p{
  font-family:var(--fontbody);
  font-size: 1em;
  text-indent: 1em;
  font-weight:bolder;
  line-height: 2em;
  margin: 10px;
  text-shadow: rgba(0, 0, 0, 0.575) 3px 3px 3px;

}
#fqa{
  position: relative;
  padding:50px;
  padding-bottom: 150px;
}
#fqa h1{
  text-align: center;
  font-size:2em;
  font-family:var(--fonttema2);
  text-align: center;
  
}
#contfqa {
  height:100%;
  width: inherit;
  display:grid;
  justify-content: center;
  align-items:center;
}
.imgask{
  transform: rotate(45deg);
  transition: transform .5s;
 
}


.ask{
  display: flex;
  background-color: var(--color1);
  padding: 4px;
  margin: 15px;
  border-radius: 5px;
}
.ask > p{
  align-self: center;
  font-weight: bolder;
  font-size: 1em;
  width: 80vw;
 
}
.ask div{
  background-color: black;
  width: 200px;
  height: 200px;
  
}
.cask{
  display: grid;
}
.answer{
  background-color: var(--color4);
  padding: 10px;
  width: 80vw;
  margin-left: 20px;
  border-radius: 12px;
  text-align: center;
  display: none;
  font-weight: bold;
}
.cask:hover .answer{
  display: inline-block;
}
.cask:hover .imgask{
  transform: rotate(0deg);
} 
#rodapé{
  display: grid;
  position: relative;
  height: auto;
  color: white;
  background-color:#363636;
  font-family: var(--fonttema1);
  text-shadow:1px 1px 1px black;
  padding: 50px;
  grid-template-columns:50% auto;
  justify-content: space-around;

  

}

#rodapé a{
  color: white;
  text-decoration: none;
  padding: 10px;
}
.custom-shape-divider-bottom-1665862737 {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow: hidden;
  line-height: 0;
  transform: rotate(180deg);
}

.custom-shape-divider-bottom-1665862737 svg {
  position: relative;
  display: block;
  width: calc(100% + 1.3px);
  height: 86px;
  transform: rotateY(180deg);
}

.custom-shape-divider-bottom-1665862737 .shape-fill {
  fill: #363636;
}
footer > section{
  display: grid;
}
form{
  display: grid;
}
fieldset{
  width: 300px;
  justify-self: start;
  height: 450px;
}
#whats{
  height: 0px;
}
label{
  display: grid ;
}
input{
  align-self: end;
  background-color:white;
  padding: 5px;
  border-radius: 10px;
}
form button{
  margin: 10px;
  width: 100px;
  height: 35px;
  background-color: #63D471;
  font-weight: bolder;
  border-radius: 5px;
}
textarea{
  background-color: white;
}
#rodapé section img{
  
  width: 30px;
}
@keyframes svgmov {
  from{transform: translateY(-10px);}
  to{transform: translateY(10px);}
}
#rodapé > img{
 animation-name: svgmov;
 animation-duration: 2s;
 animation-direction: alternate;
 animation-iteration-count:infinite ;
 
}
#rodcont{
  display:flex;
  justify-content: center;
  grid-column: 1/3;
  align-items: center;
}
#rodapé aside p{
  text-align: center;
  padding-bottom:2px ;
}
#rodapé aside{
  grid-column: 1/3;
}
@media screen and (max-width:1300px){
  #textmain{
    font-size:1.8em;
  }
  #works #slide{
    grid-column: 1/3;
    
  }
  #as{
    justify-self: center;
    grid-column:1/3 ;
    padding: 10px;
  }
  #whoare {
    overflow-y: auto;
  }
  #whoare p{
    font-size: .5em;

  }
  #whoare aside{
    font-size: 1em;
  }
  #serviço h1{
    width: 100vw;
    font-size:2.5em ;
  }
  #serviço aside{
    display: grid;
    
  }
  #serviço .imgs{
    width:100vw;
   
  }
  #serviço div{
    position: absolute;
    z-index: 1;
    opacity: 40%;
    font-size: x-large;
  }
  #serviço aside:hover div{
    opacity: 100%;
  }

}

@media screen and (max-width:767px){
    .custom-shape-divider-bottom-1665862737 svg {
    width: calc(180% + 1.3px);
    height: 154px;
  }
   #whoare aside{
    font-size: .7em;
    width: 100vw;
  }
  nav{
    
    position: fixed;
    height:100vh;
    display: none;
    background-color: #435058;
    top:-10px;
    width: 60vw;
    align-content: start;
    text-align: center;
  
  }
  nav a{
  padding: 10px;
  font-size: large;
 
  }
  

  header section{
    width: 50vw;
    height: 50px;
  }
  header section img{
    height: 60px;
  }
  #menu{
    display: inline-block;
    margin-right:12px;
    width: 30px;
    height: 30px;
    background-image: url(img/menu.ico);
    background-size: 100% 100%;
    border-radius: 4px;
    background-color: white;
  }
  #closemenu{
    display: inline-block;
    margin-right:12px;
    width: 30px;
    height: 30px;
    background-image: url(img/closemenu.svg);
    background-size: 100% 100%;
    border-radius: 4px;
    background-color: transparent;
    justify-self: end;
  }
  header p{
    margin-top:3px;
  
  }
  main{
    background-position:bottom left;
 
  }
  #textmain{
    font-size: 1.1em;
    margin-left: 12px;
    padding-top: 120px;
    width: 80vw;
    text-indent: 5px;
  }
  main h1{
    text-align: center;
  }
  #benconteiner{
    width: 100vw;
    max-height: 50vh;
   overflow-x: auto;
   justify-content: start;
   background-color: #36363630;
    
 
  }
 
  .ben{
   max-height:25vh ;
   margin-left: 50px;
   width: 100px;
   overflow-y: auto;
   
 
  }
  .ben p{
    display: none;
 
  }
  .ben:hover p{
    display: inline;
  }
  #contacto{
    padding: 6px;
    font-size: .8em;
  }
 
  
 
  
  
  #as{
   padding-top: 20px;
   padding-bottom: 20px;
    width: 100vw;
    grid-template-columns:49vw 49vw;
    grid-template-rows: 130px 130px;
    gap:7.5px;
    
  }
  .num{
    font-size: 1em;
  }
  .number{
     padding: 5px;
     font-size: .6em;
  }

  
  fieldset{
    justify-self: center;
  
  }
  #rodapé{
    padding: 0px;
  }
  #rodapé > img{
  display: none;
}
}
